*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #303030;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: none;
}
::-webkit-scrollbar-thumb{
    background-color: #b9b3ae;
}
::-webkit-scrollbar:hover{
    background-color: #888;
}




.avtar{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.avtar img ,
 .chat-avtar img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chat-header-right img{
    width: 20px;
    height: 20px;
    margin: 5px  13px;
    opacity: 0.4;
}
body{
    display: flex;
    overflow: hidden;
}
.sidebar{
    flex: 5.17;
}
.header{
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px  15px;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.side-search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 8px  15px;
}
.sidebar-search-container{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}
.sidebar-search-container input{
    border: none;
    outline: none;
    margin-left: 20px;
}

.sidebar-search-container img{
    width: 30px;
    height: 35px;
    margin: 0 15px;
    opacity: 0.4;
}
 .chat-avtar{
    position: relative;
    height: 50px;
   min-width: 50px;
    overflow: hidden;
    border-radius: 50%;
    flex: 1;
   }
    .chat-info{
        flex: 10;
        margin-left: 15px;
    }
    .chat-info p{
        font-size: 13px;
        line-height: 20px;
        color: gray;
    }

    .time{
        flex: 1;
    }
    .time p{
        white-space: nowrap;
         font-size: 13px;
         margin-top: -16px;
         color: gray;
    }
/* message content */
.message-container{
    flex: 12;
}
.sidebar-chats{
    height: calc(100vh - 115px);
    overflow-y: scroll;
}
 .slidebar-chat{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px  12px;
 } 
  .slidebar-chat:hover{
background-color: #f5f5f5;
 }
 .slidebar-chat:nth-child(2){
    background-color: #ededed;
 }
 
 .slidebar-chat::before{
      content:'';
      position: absolute;
      width: 80%;
      bottom: 0;
      border-bottom: 1px solid #999;
      opacity: 0.2;

 }

.chat-tittle{
    display: flex;
    align-items: center;
}
.message-header-content{
    margin-left: 15px;
}

h4{
    font-weight: 400;
}
.message-header-content{
    font-size: 15px;
    color: gray;
}

.message-content{
    background-image: url(background.png);
     background-position: center;
     height: calc(100vh - 120px);
     padding: 20px 80px;
     overflow-y: scroll;
} 
.smile-face img{
    height: 10px;
    width: 10px;
    border-radius: 8px;
}

.chat-message{
font-size: 14px;
padding: 8px  14px;
width: fit-content;
border-radius: 8px;
background-color: white;
margin-bottom: 30px;
}
.chat-sent{
margin-left: auto;
background-color: #dcf8d6;
}

.chat-timestamp{
    font-size: 10px;
    color: grey;
    margin-left: 10px ;    
}
  /* message footer */

  .message-footer{
    align-items: center;
    display: flex;
    padding: 5px  10px ;
  }

.message-footer img{
    flex: 0.6;
    width:  20px;
    height: 20px;
    opacity: 0.7;
    background-color: #f0f0f0;
    margin-right: 15px;
}
.message-footer input{
    flex: 20;
    margin: 5px  10px;
    padding: 20px;
    border: none;
    border-radius: 20px ;
    outline: none;
    padding: 20px;
}

/* @media query */

@media only screen and (max-width:600px){
    .message-container{
        display: none;
    }
}